<h1>Seja bem vindo ao Crypto Wallets!</h1>

<p><%= @teste %></p>
<p>Agora que eu sei que funciono, você consegue me mandar seu nome pela url: /?nome=seuNome </p>
<p>Seu nome é: <%= @nome %></p>

<p><strong>Data:</strong> <%= data_br(Date.today) %></p>

<ul>
  <li>
    <%= link_to "Coin", coins_path %>
  </li>
</ul>

<p>Você está no ambiente de <%= ambiente_rails %></p>
