<!DOCTYPE html>
<html>
  <head>
    <title>CryptoWallets</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "custom" %>
    <%= javascript_importmap_tags %>
    <%=javascript_include_tag "jquery-3.7.1" %>
    <%=javascript_include_tag "notify" %>


  </head>
  <body>


  <div class="container-fluid">
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <%=link_to "Portugues", root_path(locale: 'pt-BR'), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <p><%=link_to "Ingles", root_path(locale:'en'), class: "nav-link" %></p>
      </li>

    </ul>
  </div>

  <div class="content">
    <%= yield %>
  </div>


  <div class="footer d-flex align-items-center">
    <h3 class="ms-5">CriptoWallets</h3>
  </div>

<!--  <script>$.notify("Funcionou!!!", "success");</script>-->


  </body>
</html>
