<div id="<%= dom_id coin %>">
  <p>
    <strong>Description:</strong>
    <%= coin.description %>
    ---
    <strong>Acronym:</strong>
    <%= coin.acronym %>
    ---
    <strong>Url img:</strong>
    <%#= coin.url_img %>
    <%= image_tag coin.url_img, size: "40x40" %>
    ---
    <strong>Mining Type:</strong>
    <%= coin.mining_type.description %>
  </p>

</div>
