<tr>
  <td><%= coin.id %></td>
  <td><%= coin.description %></td>
  <td><%= coin.acronym %></td>
  <td><%= image_tag coin.url_img, size: "40x40" %></td>
  <td><%= coin.mining_type.description %></td>
  <td><%= link_to "Show", coin, class: "btn btn-primary" %></td>
</tr>





