<%= form_with(model: coin) do |form| %>
  <% if coin.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(coin.errors.count, "error") %> prohibited this coin from being saved:</h2>

      <ul>
        <% coin.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-3">
    <%= form.label :description, style: "display: block", class: "form-label" %>
    <%= form.text_field :description, class: "form-control" %>
  </div>

  <div class="col-3">
    <%= form.label :acronym, style: "display: block", class: "form-label" %>
    <%= form.text_field :acronym, class: "form-control" %>
  </div>

  <div class="col-3">
    <%= form.label :url_img, style: "display: block", class: "form-label" %>
    <%= form.text_field :url_img, class: "form-control" %>
  </div>

  <div class="col-3">
    <%= form.label :mining_type, style: "display: block", class: "form-label" %>
    <%= form.select("mining_type_id", @mining_type_options, {include_blank:true}, class: "form-select")%>
  </div>

  <div class="mt-3">
    <%= form.submit(t("table.send"), class: "btn btn-primary")%>
  </div>
<% end %>
