<p style="color: green"><%= notice %></p>

<h1>Coins</h1>

<h3>Data: <%= Date.today %></h3>

<div id="coins">
  <% @coins.each do |coin| %>
    <%= render coin %>
    <p><%= link_to "Show this coin", coin %></p>
  <% end %>
</div>

<%= link_to "New coin", new_coin_path %>
