<div class="m-5">
<p style="color: green"><%= notice %></p>

  <h1><%= t(Coin.model_name.human) %></h1>

  <h3> <%=t("date")%>: <%= Date.today %></h3>

  <table class="table">
    <thead>
    <tr>
      <th scope="col"><%= t("table.id") %></th>
      <th scope="col"><%= t("table.description") %></th>
      <th scope="col"><%= t("table.acronym") %></th>
      <th scope="col"><%= t("table.img") %></th>
      <th scope="col"><%= t("table.mining_type") %></th>
    </tr>
    </thead>
    <tbody id="coins">

    <% @coins.each do |coin| %>
      <tr>
        <%= render coin %>
      </tr>
    <% end %>

    </tbody>
  </table>

  <%= link_to t("links.new"), new_coin_path, class: "btn btn-primary" %>
  <%= link_to t("links.back"), welcome_index_path, class: "btn btn-secondary" %>
</div>