<p style="color: green"><%= notice %></p>

<div class="d-flex flex-column align-items-center justify-content-center text-center col-12">

  <table class="table">
    <thead>
    <tr>
      <th scope="col"><%= t("table.id") %></th>
      <th scope="col"><%= t("table.description") %></th>
      <th scope="col"><%= t("table.acronym") %></th>
      <th scope="col"><%= t("table.img") %></th>
      <th scope="col"><%= t("table.mining_type") %></th>
    </tr>
    </thead>
    <tbody id="coins">

    <tr>
      <%= render @coin %>
    </tr>

    </tbody>
  </table>



  <div class="m-3">
    <%= link_to t("links.edit"), edit_coin_path(@coin), class: "btn btn-primary"%>
  </div>

  <div class="m-3">
    <%= button_to t("links.delete"), @coin, method: :delete, class: "btn btn-danger" %>
  </div>

  <div class="m-3">
    <%= link_to t("links.back"), coins_path, class: "btn btn-secondary"%>
  </div>

</div>
